.proyectos{
    width: 80%;
    padding: 1rem;
    background: var(--fondo-proyecto);
}


.galeria {
  display: grid;
  grid-template-columns: repeat(2, auto); /* 2 columnas */
  justify-content: center;               /* Centrado horizontal */
  gap: 20px;                              /* Espaciado entre imágenes */
}

.galeria img {
  width: 200px; /* o el tamaño que prefieras */
  height: auto;
  border-radius: 8px; /* opcional: bordes redondeados */
}




.proyecto{
    background-color: rgb(53, 52, 52);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(100%); /*ajusta el ancho segun la cantidad de proyectos a mostrar*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.proyecto img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.proyecto h3{
    margin-top: 10px;
    font-size: 1.2em;
}

.proyecto p{
    margin: 10px 0;
}

.proyecto a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.proyecto a:hover{
    background-color: #0056b3;
}

/*Media Queries para hacerlo responsivo celular*/
@media (max-width: 767px){
    .proyecto{
        width: calc(100% - 40px);
    }
}

/*Media Queries para hacerlo responsivo tablet*/
@media (min-width: 768px) and (max-width: 1023px){
    .proyecto{
        width: calc(50% - 40px);
    }
}

/*Media Queries para hacerlo responsivo Desktop*/
@media(min-width: 1024px){
    .proyecto{
        width: calc(33% - 40px);
    }
}
